<div class="papelote-builder-tools">
    <div class="btn-toolbar" aria-binded="">
        <div class="btn-group">
            <button data-toggle="tooltip" data-placement="bottom"  class="btn btn-default btn-xs" title="Adicionar una lista"><i class="glyphicon glyphicon-list"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Insertar imagen"><i class="glyphicon glyphicon-picture"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Insertar una tabla"><i class="glyphicon glyphicon-th"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Insertar video de youtube"><i class="glyphicon glyphicon-facetime-video"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Encabezado 1"><i class="glyphicon glyphicon-header"></i> 1</button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Encabezado 2"><i class="glyphicon glyphicon-header"></i> 2 </button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Encabezado 3"><i class="glyphicon glyphicon-header"></i> 3 </button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Encabezado 4"><i class="glyphicon glyphicon-header"></i> 4 </button>
        </div>
        <div class="btn-group">
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Negrita"><i class="glyphicon glyphicon-bold"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Cursiva"><i class="glyphicon glyphicon-italic"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Alinear a la derecha"><i class="glyphicon glyphicon-align-right"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Alinear al centro"><i class="glyphicon glyphicon-align-center"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Alinear a la izquierda"><i class="glyphicon glyphicon-align-left"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Justificar"><i class="glyphicon glyphicon-align-justify"></i></button>

        </div>
        <div class="btn-group">
            <button data-toggle="tooltip" id="tools-RemoveComponent" data-placement="bottom" class="btn btn-default btn-xs" title="Eliminar componente"><i class="glyphicon glyphicon-trash"></i></button>
            <button data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-xs" title="Terminar de editar componente"><i class="glyphicon glyphicon-check"></i></button>
        </div>
    </div>
</div>
<div class="papelote-builder">

    <div class="papelote-view">
    </div>
</div>

<div id="context">
    <h4> Selecciona el tipo de columna a insertar</h4>
    <ul>
        <li><a class="btn btn-primary" id="r1" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 1</a></li>
        <li><a class="btn btn-primary" id="r2" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 2</a></li>
        <li><a class="btn btn-primary" id="r3" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 3</a></li>
        <li><a class="btn btn-primary" id="r4" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 4</a></li>
    </ul>
    <ul>
        <li><a class="btn btn-primary" id="r5" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 5</a></li>
        <li><a class="btn btn-primary" id="r6" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 6</a></li>
        <li><a class="btn btn-primary" id="r7" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 7</a></li>
        <li><a class="btn btn-primary" id="r8" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 8</a></li>
    </ul>
    <ul>
        <li><a class="btn btn-primary" id="r9" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 9</a></li>
        <li><a class="btn btn-primary" id="r10" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 10</a></li>
        <li><a class="btn btn-primary" id="r11" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 11</a></li>
        <li><a class="btn btn-primary" id="r12" href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> 12</a></li>
    </ul>
</div>



